extends layout

block content
  h1= title
  p Welcome to #{title}
  p this is riki my sample website
  p this is another commit by me i hoep it will update in heroku
  p another commit by me let see if this will work :D
  p anothe again and again and again